# =====================================================
# LungVision-AI
# Git Ignore
# =====================================================

# -----------------------------------------------------
# Python
# -----------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------------------------------
# Virtual Environment
# -----------------------------------------------------
.venv/
venv/

# -----------------------------------------------------
# macOS
# -----------------------------------------------------
.DS_Store

# -----------------------------------------------------
# Dataset
# -----------------------------------------------------
dataset/

# -----------------------------------------------------
# Model Checkpoints
# Keep directory, ignore contents
# -----------------------------------------------------
checkpoints/*
!checkpoints/.gitkeep

# -----------------------------------------------------
# Outputs
# Keep directory, ignore contents
# -----------------------------------------------------
outputs/*
!outputs/.gitkeep

# -----------------------------------------------------
# Reports
# Track directory, ignore generated reports
# -----------------------------------------------------
reports/*.txt
!reports/.gitkeep

# -----------------------------------------------------
# Jupyter
# -----------------------------------------------------
.ipynb_checkpoints/

# -----------------------------------------------------
# IDE
# -----------------------------------------------------
.vscode/
.idea/